



.buttonplay {
  position: absolute;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(--color);
  border-radius: 4px;
  text-shadow: 0 0 15px var(--color);
  letter-spacing: 0.1rem;
  transition: 0.5s;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; 
  z-index: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonplay:hover {
  color: #fff;
  box-shadow: 0 0 0px var(--color);
}

.buttonplay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
  border-radius: 3px;
}

.buttonplay:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 5px var(--color),
    0 0 20px var(--color),
    0 0 10px var(--color);
}

.buttonplay span {
  position: absolute;
  background: var(--color);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(--color),
    0 0 20px var(--color),
    0 0 30px var(--color),
    0 0 50px var(--color),
    0 0 100px var(--color);
  transition: 0.5s ease-in-out;
  transition-delay: 0.25s;
}

.buttonplay:hover span {
  opacity: 0;
  transition-delay: 0s;
}

.buttonplay span:nth-child(1),
.buttonplay span:nth-child(3) {
  width: 20px;
  height: 4px;
}

.buttonplay:hover span:nth-child(1),
.buttonplay:hover span:nth-child(3) {
  transform: translateX(0);
}

.buttonplay span:nth-child(2),
.buttonplay span:nth-child(4) {
  width: 4px;
  height: 20px;
}

.buttonplay:hover span:nth-child(2),
.buttonplay:hover span:nth-child(4) {
  transform: translateY(0);
}

.buttonplay span:nth-child(1) {
  top: calc(50% - 2px);
  left: -30px;
  transform-origin: left;
}

.buttonplay:hover span:nth-child(1) {
  left: 50%;
}

.buttonplay span:nth-child(3) {
  top: calc(50% - 2px);
  right: -30px;
  transform-origin: right;
}

.buttonplay:hover span:nth-child(3) {
  right: 50%;
}

.buttonplay span:nth-child(2) {
  left: calc(50% - 2px);
  top: -30px;
  transform-origin: top;
}

.buttonplay:hover span:nth-child(2) {
  top: 50%;
}

.buttonplay span:nth-child(4) {
  left: calc(50% - 2px);
  bottom: -30px;
  transform-origin: bottom;
}

.buttonplay:hover span:nth-child(4) {
  bottom: 50%;
}

@media only screen and (max-width: 726px) {
.buttonplay span:nth-child(1) {
  top: calc(50% - 2px);
  left: -5px;
  width: 20px;
  transform-origin: left;
}

.buttonplay span:nth-child(3) {
  top: calc(50% - 2px);
  right: -5px;
  width: 20px;
  transform-origin: right;

}
.buttonplay span:nth-child(2) {
  left: calc(50% - 2px);
  top: -20px;
  height: 20px;
  transform-origin: top;
}
.buttonplay span:nth-child(4) {
  left: calc(50% - 2px);
  height: 20px;
  bottom: -20px;
  transform-origin: bottom;
}

}