
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");






.wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none; 
}





.wrapper .icon {
  position: relative;
  border-radius: 10px;
  padding: 15px;
  margin: 10px;
  width: 60px;
  height: 10px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}


.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #5d53e600;
  color: #ffffff00;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}



.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .Discord:hover,
.wrapper .Discord:hover .tooltip,
.wrapper .Discord:hover .tooltip::before {
  background: #ffffff60;
  color: #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
}

.wrapper .telegram:hover,
.wrapper .telegram:hover .tooltip,
.wrapper .telegram:hover .tooltip::before {
  background: #ffffff60;
  color: #ffffff;
  box-shadow: 0px 0px 10px #ffffff;
}





@media only screen and (min-width: 726px) and (max-width: 726px){
.wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  display: none; 
}
  

.wrapper .icon {
  position: relative;
  border-radius: 10px;
  padding: 15px;
  float: inline-start;
  margin: 10px;
  width: 70px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #5472B3;
  color: #5472B3;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
      
  }