@import url('https://fonts.googleapis.com/css2?family=Boldonse&display=swap');


html {
  width: 100%;
  height: 100%;
  background-color: #000000;
  user-select: none;
}

body {
    background-image: radial-gradient(circle at center, #000000, #000000);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
  }
  
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  display: none;
}
        
      
  #Container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0) ;
    width: 650px;
    height: 500px;
    }
  
  #Menu {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: #24242446 ;
    backdrop-filter: blur(30px);  
    width: 500px;
    height: 350px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    text-align: center;
    box-shadow: 0px 0px 10px #ffffff;}

  #banner {
    display: none;
    position: fixed;
    top: 0%;
    left: 80%;
    width: 100px;
    height: 350px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 10px #ffffff;
    object-fit: cover; 
    overflow: hidden; 
  }

#musicToggleBtn img {
    transform: scale(1); transform: translate(-0%, 30%);
}
  #musicToggleBtn {
        position: absolute;
        display: none;
        color: #ffffff;
        bottom: -20%;
        transform: translateX(-50%);
        left: 5%;
        width: 50px;
        height: 50px;
        background-size: 24px 24px;
        cursor: pointer;
    border-radius: 10px;
      background-color: #24242446 ;
        box-shadow: 0px 0px 10px #ffffff;
  }
  .menu_xx {
    position: absolute;
    bottom: -20%;
    background-color: #24242446 ;
    transform: translateX(-50%);
    border-radius: 10px;
    left: 70%;
    width: 550px;
    height: 50px;
    box-shadow: 0px 0px 10px #ffffff;
  }




  
  #avatar {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 3px solid #000000; 
  }
  
  #menubuttons {
      display: flex;
      position: fixed;
      top: 75%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #004cff6d ;
      width: 612px;
      height: 300px;
  }
  

  .nickname {
      color: white;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      font-family: "Boldonse";
      font-weight: 900;
      font-size: 17px;
      text-shadow: 0 0 10px #ffffff;
      letter-spacing: 5px;
  }

  
    @keyframes UID_IN {
    from {
        opacity: 0.1;
    }


    to {
        opacity: 1;
    }

    }


    @keyframes UID_OUT {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        
    }

    }
    .hover_nickname, .hover_nickname2 {
        position: absolute;
        font-weight: 100;
        color: #ffffff;
        width: 50px;
        height: 25px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: rgba(255, 255, 255, 0) ;
        box-shadow: 0px 0px 10px #ffffff;
        animation: UID_OUT 0.5s forwards;
        transition: box-shadow 2s ease-in-out;
    }
    #MenuNick .hover_nickname {top: 45%; right: 20%;}
    #MenuNick .hover_nickname2 {top: 45%; left: 20%;}
    
  .nickname:hover ~ .hover_nickname {
    animation: UID_IN 0.5s forwards;
  }
  .nickname:hover ~ .hover_nickname2 {
    animation: UID_IN 0.5s forwards;
  }
  
  #custom-text {
      font-size: 16px;
      color: #cccccc;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translateX(-50%);
  }



@media only screen and (max-width: 726px) {

  body {
      background-image: radial-gradient(circle at center, #000000, #000000);
      background-size: cover;
      background-repeat: no-repeat;
      overflow-x: hidden;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
      font-family: 'Poppins', sans-serif;
    }

    #MenuNick .hover_nickname {top: 50%; right: 10%;}
    #MenuNick .hover_nickname2 {top: 50%; left: 10%;}


  #Menu {
    display: none;
    position: fixed;
    top: 0%;
    left: -5%;
    background-color: #24242446 ;
    backdrop-filter: blur(30px);  
    width: 230px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    text-align: center;
    box-shadow: 0px 0px 10px #ffffff;}

  #banner {
    display: none;
    position: fixed;
    top: 0%;
    left: 80%;

    width: 80px;
    height: 300px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 10px #ffffff;
    object-fit: cover; 
    overflow: hidden; 
  }

#custom-text {
    font-size: 16px;
    color: #cccccc;
    position: absolute;
    top: 60%;
    left: 50%;
    word-wrap: break-word;
    white-space: nowrap;
}



#musicToggleBtn img {
    transform: scale(1); transform: translate(-0%, 30%);
}
  #musicToggleBtn {
        position: absolute;
        display: none;
        color: #ffffff;
        bottom: -25%;
        left: 10%;
        width: 50px;
        height: 50px;
        background-size: 24px 24px;
        cursor: pointer;
    border-radius: 10px;
      background-color: #24242446 ;
        box-shadow: 0px 0px 10px #ffffff;
  }
  .menu_xx {
    position: absolute;
    bottom: -25%;
    background-color: #24242446 ;
    border-radius: 10px;
    left: 90%;
    width: 260px;
    height: 50px;
    box-shadow: 0px 0px 10px #ffffff;
  }

  #Container {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0) ;
    width: 300px;
    height: 450px;
    }

    
}

